<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.png" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <a href="{{ .link }}"><button class="test">Test CSV</button></a>
      <br>
      <a href="{{ .saveLink }}" ><button class="save">Update Curves</button></a>
  </body>
</html>
<!DOCTYPE html>
<link rel="icon"
      type="image/png"
      href="/img/favicon.png" />
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
      <a href="{{ .link }}"><button class="test">Test CSV</button></a>
      <br>
      <a href="{{ .saveLink }}" ><button class="save">Update Curves</button></a>
  </body>
</html>
